@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));


html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /*   */
  font-family: "Inter", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}