@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}